<a href="https://colab.research.google.com/github/JacksonReber/BuildWeek/blob/master/Build_Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import pandas as pd

df = pd.merge(pd.read_csv('naep.csv'), 
                 pd.read_csv('states.csv'))
df1 = pd.read_csv('naep.csv')
df2 = pd.read_csv('states.csv')
df3 = pd.read_csv('districts.csv')

In [36]:
df1.head()

   YEAR       STATE         AVG_SCORE TEST_SUBJECT  TEST_YEAR
0  2017     Alabama  232.170687741509  Mathematics          4
1  2017      Alaska  230.456277558902  Mathematics          4
2  2017     Arizona  234.435788152091  Mathematics          4
3  2017    Arkansas  233.848143678937  Mathematics          4
4  2017  California  232.262940994562  Mathematics          4