<a href="https://colab.research.google.com/github/JacksonReber/BuildWeek/blob/master/Build_Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('states_all.csv')

In [ ]:
df.head()

       PRIMARY_KEY       STATE  ...  AVG_READING_4_SCORE  AVG_READING_8_SCORE
0     1992_ALABAMA     ALABAMA  ...                207.0                  NaN
1      1992_ALASKA      ALASKA  ...                  NaN                  NaN
2     1992_ARIZONA     ARIZONA  ...                209.0                  NaN
3    1992_ARKANSAS    ARKANSAS  ...                211.0                  NaN
4  1992_CALIFORNIA  CALIFORNIA  ...                202.0                  NaN

[5 rows x 25 columns]