<a href="https://colab.research.google.com/github/JacksonReber/BuildWeek/blob/master/Official%20Build%20Week%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
pd.options.display.max_rows = 1000
pd.options.display.max_columns = 1000

In [119]:
df = pd.merge(pd.read_csv('naep.csv'), 
                 pd.read_csv('states.csv'))
df1 = pd.read_csv('districts.csv')
def wrangle(df):
  df['AVG_SCORE'] = pd.to_numeric(df['AVG_SCORE'], errors='coerce')
  df['AVG_SCORE'] = round(df['AVG_SCORE'], ndigits=4)
  df.set_index('YEAR', inplace=True)
  df = df.drop(index=[1992,1994, 1996, 1998, 2000, 2002], inplace=True)



  return df
data = wrangle(df)

In [122]:
df.head()

,STATE,AVG_SCORE,TEST_SUBJECT,TEST_YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE
YEAR,,,,,,,,,,,,,,
2015,Alabama,230.9774,Mathematics,4,734974.0,7360222,795238,4080167,2484817,7501799,3817479,2414860,594283.0,510091
2015,Alabama,266.5553,Mathematics,8,734974.0,7360222,795238,4080167,2484817,7501799,3817479,2414860,594283.0,510091
2015,Alabama,217.0491,Reading,4,734974.0,7360222,795238,4080167,2484817,7501799,3817479,2414860,594283.0,510091
2015,Alabama,258.7538,Reading,8,734974.0,7360222,795238,4080167,2484817,7501799,3817479,2414860,594283.0,510091
2015,Alaska,236.3284,Mathematics,4,130755.0,2920986,344111,2026555,550320,2968341,1484610,1068849,92766.0,281914

In [127]:
target = 'AVG_SCORE'
y = df[target]
X = df.drop(target, axis=1)

In [131]:
#training data between 2003 - 2007
train_mask = X.index < 2008
X_train, y_train = X.loc[train_mask], y.loc[train_mask]

# validation data during between 2009 and 2013
val_mask = (df.index <= 2013) & (df.index >= 2009)
X_val, y_val = X.loc[val_mask], y.loc[val_mask]

# test data for year 2015
test_mask = X.index >= 2014
X_test, y_test = X.loc[test_mask], y.loc[test_mask]

2015    204
Name: YEAR, dtype: int64